h3 {
  text-align: center;
}

.form-group {
  width: 50%;
  margin: 20px auto;
}

.form-check {
  width: 50%;
  margin: auto;
}

#submits {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#btn-cadastro {
  margin-right: 10px;
}

.title-label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: black;
}

.navbar {
  margin-bottom: 50px;
}
